* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#copyRight {
  background-color: #302aaf;
  display: flex;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin-bottom: 0px;
  color: white;
}
.copy {
  display: flex;
  margin-bottom: 0px;
  color: white;
}
.update {
  margin-bottom: 0px;
  color: white;
}
.join-copon {
  display: block;
  position: absolute;
  left: 50%;
  color: white;
}
.h2-serif {
  color: white;
  font-size: 3em;
}
.serif-title {
  font-size: 40px;
  line-height: 46px;
  color: #21165e;
  text-align: center;
}
.content {
  display: flex;
  margin-top: 40px;
}
.title{
  text-align: center;
}